input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*  */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    /* */
    background-clip: content-box;
    border: 1px solid #521a7a;
    background-color: #e7e6e7;
    border-radius: 50%;
}
  
input[type="radio"]:checked {
    background-color: #521a7a;
}

.form-control:focus {
    border-color: #521a7a;
    box-shadow:none;
    color: #521a7a;
    /* background-color: #d9d9d9; */
}
.form-control{
    background-color: #d9d9d9;
}

.drive-heading-one{
    font-weight: bold;
}

.app-store-btn{
    color: white!important;
    font-weight: 300;
    background-color: #521a7a;
    text-align: left;
    transform: scale(0.9);
    border-radius: 10px;
    height: 60px;
    position: relative;
    left: -10px;
}

.play-store-btn{
    color: #521a7a!important;
    font-weight: 300;
    background-color: #DBCFE3;
    text-align: left;
    transform: scale(0.9);
    border-radius: 10px;
    height: 60px;
    width: 170px;
}

@media(min-width:600px){
    .drive-image{
        height: 70vh;
        width: 127%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;   
    }
}

@media(max-width:600px){
    .drive-image{
        width: 104%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;   
    }
}