.bg-book-a-ride{
    background: url("https://res.cloudinary.com/www-softroniiks-com/image/upload/v1660805044/Herryde/Artboard_1_b85bim.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150%, 60%;
    height: 100vh;
}